ATK.docset/Contents/Resources
Cairo.docset/Contents/Resources
GIO.docset/Contents/Resources
GLib.docset/Contents/Resources
GObject.docset/Contents/Resources
GTK2.docset/Contents/Resources
GTK3.docset/Contents/Resources
Pango.docset/Contents/Resources
